# Configurações do Projeto
PROJECT_NAME="Fique de Olho API"
VERSION="0.1.0"
API_V1_STR="/api/v1"

# Banco de Dados (PostgreSQL)
POSTGRES_USER=fiquedeolho
POSTGRES_PASSWORD=fiquedeolho
POSTGRES_DB=fiquedeolho_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# URL completa de conexão do SQLAlchemy
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
