# Configurações do Projeto
PROJECT_NAME="Fique de Olho API"
VERSION="0.1.0"
API_V1_STR="/api/v1"

# Banco de Dados (PostgreSQL)
POSTGRES_USER=fique_de_olho
POSTGRES_PASSWORD=fique_de_olho_dev
POSTGRES_DB=fique_de_olho
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# URL completa de conexão do SQLAlchemy
DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
